.container {
  background-color: #000000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;

  & .selectContainer {
    display: block;
  }
}

.logo {
  max-width: 600px;
  width: 100%;

  @media (min-width: 768px) {
    position: absolute;
    left: 40px;
    top: 20px;
  }
}

.intro {
  text-transform: uppercase;

  & .title {
    color: #000;
    font-size: 24px;
  }

  & .text {
    color: #808080;
    font-size: 16px;
  }
}

.actions {
  display: flex;
  justify-content: center;
  gap: 24px;
}
