.container {
  background-color: #000000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;

  & .modal {
    max-width: 429px;
  }
}

.title {
  text-transform: uppercase;
  font-size: 24px;
}

.content {
  padding: 24px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
